/* James Woodcock - Server repository 

	Color palette
	Davys gray - #595758
	Paolo veronese green - #419d78
	Red pigment - e91111
	Antique white - #feefdd
	Marigold - #eca400
*/

header, nav, footer, section, ul, li, a, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #feefdd
}

#gen-proj {
	float: left;
	padding: 2%;
	padding-left: 13%;
}
#gen-proj ul {
	list-style-type: none;
}
#gen-proj a {
	text-decoration: none;
	color: #eca400;
}
#gen-proj h3 {
	color: #e91111;
}

#less-proj {
	float: right;
	padding: 2%;
	padding-right: 13%;
}
#less-proj ul {
	list-style-type: none;
}
#less-proj a {
	text-decoration: none;
	color: #419d78;
}
#less-proj h3 {
	color: #e91111;
}

#abt-me {
	clear: left;
	padding: 1.5%;
	max-width: 35%;
}
#abt-me h2, h4 {
	padding: 1.5% 0;
	color: #e91111;
}
#abt-me p {
	color: #595758;
}

footer {
	background-color: #e91111;
}
footer p {
	color: #feefdd;
}


