html, body, header, nav, ul, li, a, blockquote, main, footer, p {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #F4D35E;
}
nav {
    background-color: #F4D35E;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 1% 2%;
}
nav a {
    font-size: 3em;
    color: #0D3B66;
    text-decoration: none;;
}
nav a:hover {
    display: block;
    background-size: 30px;
    background-color: #0D3B66;
    color: #F4D35E;
}

header blockquote {
    text-align: center;
    font-size: 10em;
    padding: 10%;
    background-color: #FAF0CA;
    color: #0D3B66;
}

footer {
    background-color: #F4D35E;
    text-align: center;
    padding: 2%;
}
footer p {
    color: #0D3B66;
}