html, body, header, nav, ul, li, a, blockquote, main, footer, p {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #F4D35E;
}
nav {
    background-color: #F4D35E;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: 1% 2%;
}
nav a {
    font-size: 3em;
    color: #0D3B66;
    text-decoration: none;;
}
nav a:hover {
    display: block;
    background-size: 30px;
    background-color: #0D3B66;
    color: #F4D35E;
}

header blockquote {
    text-align: center;
    font-size: 10em;
    padding: 10%;
    background-color: #FAF0CA;
    color: #0D3B66;
}
header {
    border-bottom: solid thick black;
}


main {
    background-color: #0D3B66;
    padding: 2%;
    color: white;
    min-height: 100%;
}
main article {
    width: 80%;
    font-size: 2.5em;
}
main article section {
    padding: 2% 0;
}
main button {
    width: 15%;
    height: 15%;
    font-size: .5em;
}
main table td {
    font-size: 1.7em;
}
main table td button {
    margin: 0 auto;
    display: block;
    font-size: 0.5em;
}


footer {
    background-color: #F4D35E;
    text-align: center;
    padding: 2%;
    border-top: solid thick black;
    bottom: 0;
}
footer p {
    color: #0D3B66;
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    main table td {
        font-size: 1em;
    }

}
@media screen and (max-width: 1200px) {
    main table td button {
        font-size: 0.3em;
    }
    main table td img {
        max-width: 100%;
    }
    main table td {
        font-size: 1.3em;
    }
    main table {
        max-width: 100%;
    }
}